{
  "env": {
    "test": {
      "plugins": [ "istanbul" ]
    },
    "nyc": { "plugins": [ ["istanbul", {
      "exclude": [
        "test/**/*.spec.js"
      ]
    }]] }
  },
  "presets": ["es2015" ]
}
